# ================================
# UNREAL ENGINE
# ================================
Binaries/
Build/
Intermediate/
Saved/
DerivedDataCache/
*_BuiltData.uasset
*.pch

# UE Plugins
Plugins/**/Binaries/
Plugins/**/Intermediate/


# ================================
# UNITY
# ================================
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/ServerData/

# Unity meta & generated
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
mono_crash.*

# Unity Visual Scripting
/[Aa]ssets/Unity.VisualScripting.Generated/

# Unity Addressables
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[Aa]ssets/AddressableAssetsData/*/*.bin*
/[Aa]ssets/Addressables_Temp*

# Unity test scenes
/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*


# ================================
# COMPILED / BINARY
# ================================
*.pdb
*.lib
*.a
*.o
*.obj
*.dll
*.exe
*.so
*.dylib
*.lo
*.slo
*.lai
*.apk
*.aab
*.app
*.ipa
*.unitypackage


# ================================
# IDE / EDITORS
# ================================
.vs/
.idea/
*.sln
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vsconfig
ExportedObj/
.consulo/
.gradle/
/[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user


# ================================
# OS
# ================================
.DS_Store
Thumbs.db
*.log
*.tmp
*.blend1